.banner-detail {
    // background-color: #ffffff;
    background-color: #edecee;
    height: 100%;

    &-image {
        height: 300px;
        width: 100%;
        margin-bottom: 20px;
    }

    // score
    &-score {
        background-color: #ffffff;

    }

    &-like {
        width: 100%;
        height: 100%;
        padding: 0px 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 20px;
        background-color: #ffffff;

    }
}