.goods-list {
    background-color: #edecee;

    @import './index.rn.scss';

    height: 100%;

    .goods-list-score {
        height: calc(100vh - 210px);

        &-sel {
            height: calc(100vh - 480px);

        }
    }

    &-top {
        height: 120px !important;
        padding: 10px 40px 0px !important;
    }


}

page {
    background-color: #edecee;
}