.coupons {
    // background-color: #ffffff;
    background-color: #edecee;
    height: 100%;

    &-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        padding: 0px 0px 50px;
        height: 200px;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-active {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 60px;
                color: $color-brand;
            }

            &-name {
                font-size: 40px;
                color: $color-text;
            }

            &-title {
                font-size: 32px;
                color: $color-text;
            }
        }

        &-box {
            width: 240px;

            &-but {
                font-size: 32px;
                line-height: 70px;
                text-align: center;
                color: #ffffff;
                font-weight: 700;
            }
        }


    }

    &-item {
        margin-bottom: 10px;

    }

    &-earn {
        height: 100px;
        margin-bottom: 10px;

        &-item {
            font-size: 28px;
            color: $color-a6;
        }

    }

    // list
    &-score {
        margin: 24px 0 0px;

        &-item {
            background-color: #ffffff;
            padding: 10px 34px 10px;


            &-center {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                border: 0 solid #e1e0e0;
                border-width: 1px;
                border-radius: 12px;

                &-left {
                    background-color: $color-brand;
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                    font-size: 50px;
                    font-weight: 400;
                    line-height: 200px;
                    height: 100%;
                    width: 280px;
                    margin: 0 auto;
                    color: #ffffff;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }

                &-used {
                    background-color: $color-a6;
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                    font-size: 50px;
                    font-weight: 400;
                    line-height: 200px;
                    width: 280px;
                    height: 100%;
                    margin: 0 auto;
                    color: #ffffff;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }

                &-right {
                    // flex: 1;

                    padding: 0 20px;

                    &-title {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        &-text {
                            font-size: 32px;
                            color: $color-text;
                        }

                        &-box {
                            width: 170px;

                            &-but {
                                border-radius: 30px;
                                font-size: 22px;
                                line-height: 42px;
                                color: #ffffff;
                                font-weight: 700;
                            }

                            &-used {
                                text-align: right;
                                font-size: 24px;
                                line-height: 50px;
                                color: $color-6e;
                                font-weight: 700;
                            }
                        }
                    }

                    &-info {
                        width: 360px;
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 24px;
                        color: $color-6e;
                    }

                    &-detail {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 24px;
                        color: $color-6e;
                        background-color: #e2dbdb;
                        border-radius: 30px;
                        width: 180px;
                        margin-top: 10px;
                        line-height: 28px;
                        padding: 4px 8px;

                        &-img {
                            margin-left: 10px;
                            width: 24px;
                            height: 24px;
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
    }

    &-history {
        margin: 40px 0 20px;
    }

    // mask
    &-mask {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 30%;

        &-center {

            width: 580px;
            background-color: #ffffff;
            padding: 40px;
            border-radius: 20px;

            &-title {
                // width: 100%;
                font-size: 42px;
                font-weight: 700;
                color: $color-text;
            }

            &-center {
                width: 100%;
                font-size: 28px;
                color: $color-6e;
            }
        }

        &-image {
            width: 68px;
            height: 68px;
            margin-top: 60px;
        }


    }


}