 // 品牌色
 $color-brand: #84D3BE;

 // 品牌色
 $color-brand-shadow: rgba(132, 211, 190, 0.4);

 // 字体主色
 $color-text: #1b1b1b;

 // 次级字体颜色
 $color-a6: #a6a6a6;

 // 次级字体颜色
 $color-4: #444444;

 // 次级字体颜色
 $color-6e: #6e6e6e;

 // border-color
 $color-border: #d0d0d0;