.address-edit {
    background-color: #edecee;

    @import './index.rn.scss';

    height: 100%;

    .address-edit-score {
        height: calc(100vh - 200px);

    }

    .y-title-task {
        margin-bottom: 10px;
    }
}

page {
    background-color: #edecee;
}