.reset-password {
  background-color: #edecee;

  @import './index.rn.scss';
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

page {
  background-color: #edecee;
}